.header {
  padding: 92px 24px 93px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__menu {
  padding: 44px 34px 40px 26.52px;
}

.header__links-list {
  list-style-type: circle;
  display: flex;
  gap: 33px;
  line-height: 21.13px;
  font-size: 18px;
  text-underline-offset: 4px;
}

/* .header__links-list-item_no-bullit {
  list-style-type: none;
} */
.header__links-list-item:first-child {
  list-style-type: none;}

.header__link_active {
  pointer-events: none;
  text-decoration: none;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.header__address {
  padding: 6px 62px 0px 183px;
}

.overlay {
  inset: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 60%);
}

.cover {
  position: relative;
  text-transform: uppercase;
  background: url("../images/cover.jpg") no-repeat center / cover;
}

.cover__title {
  position: relative;
  z-index: 2;
  color: white;
  padding: 165px 50px 136px;
  font-size: 100px;
  letter-spacing: 0.3em;
  line-height: 115%;
}

.aligned-text {
  display: block;
  padding-top: 20px;
  line-height: 100%;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 22px;
  padding: 0px 50px 50px 77px;
}

.cover__description-text {
  padding-right: 77px;
  display: inline-block;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 19px;
}

.bet-button {
  line-height: 25.83px;
  cursor: pointer;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  background: transparent;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
}

.lots {
  padding: 179px 24px 146px;
}

.lots__heading {
  padding: 0 0 27px 40px;
  text-transform: uppercase;
  line-height: 47px;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  list-style-type: none;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.lots__card-list-item {
  color: white;
}

.card-link {
  text-decoration: none;
}

.card {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 51px 40px 48px;
  min-height: 563px;
  max-width: 334px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 2;
  position: relative;
  line-height: 26px;
  flex: 1;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.card__text {
  z-index: 2;
  position: relative;
  line-height: 24px;
  font-size: 20px;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  line-height: 24.48px;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  padding: 0 24px;
}

.about__column {
  display: grid;
  grid-template:
    "logo title"
    ".    posts"
    ".    posts"
    /34% 66%;
}

.about__logo {
  grid-area: logo;
  width: 240px;
  height: 240px;
  margin-left: 47px;
  margin-top: 2.3em;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  background: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: title;
  padding-top: 46px;
  align-content: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
}

.about__text {
  display: grid;
  padding-top: 8px;
  grid-area: posts;
  word-spacing: 0.06em;
  font-size: 20px;
  line-height: 24px;
  grid-gap: 1.2em;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 88px;
}

.footer__address {
  padding-right: 20px;
}

.footer__menu {
  padding-left: 20px;
  text-align: center;
}

.footer__menu-list {
  line-height: 21.13px;
  font-size: 18px;
  list-style-type: none;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  pointer-events: none;
  text-decoration: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.footer__social-image {
  width: 48px;
  height: 48px;
}
